<div
  class="hero-banner"
  style=background-image: url('https:{{ section.settings['hero-banner'] | img_url: 'master' }}');
>
  <h1>Test ELX</h1>
</div>

{% schema %}
{
  "name": "Hero Banner",
  "settings": [
        {
      "type": "image_picker",
      "id": "hero-banner",
      "label": "Banner Picker"
    }
  ],
   "presets": [
    {
      "name": "hero_banner"
    }
]
}
{% endschema %}
