<div class="hero-banner">
  {% if section.settings['hero-banner'] != 'none' %}
    <img
      src="{{ section.settings.hero-banner | img_url: 'master' }}"
      width="100%"
      height="100%"
      alt="Hero Banner Image"
    >
  {% endif %}
</div>

{% schema %}
{
  "name": "Hero Banner",
  "settings": [
        {
      "type": "image_picker",
      "id": "hero-banner",
      "label": "Banner Picker"
    }
  ],
   "presets": [
    {
      "name": "hero_banner"
    }
]
}
{% endschema %}
