<div>
  <h1>{{ section.settings.title }}</h1>

  <div>
    {{ section.settings['page-body'] }}
  </div>
</div>
{% schema %}
{
  "name": "Page",
  "class": "page-general",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Page Title"
    },
    {
      "type": "text",
      "id": "page-body",
      "label": "Page body"
    }
  ]
}
{% endschema %}
