.hero-banner {
  height: 600px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.hero-banner h1 {
  position: absolute;
  background-color: unset;
  color: white;
  top: 70%;
  left: 50%;
}
