.hero-banner {
  height: 600px;
  background-position: center;
  background-size: cover;
  position: relative; /* Add this line */
}

.hero-banner h1 {
  position: absolute; /* Add this line */
  background-color: none;
  color: white;
}
